@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

@require "./_resources.styl"

*
*:before
*:after
  box-sizing border-box
  margin 0
  padding 0

body
  user-select none

body
button
input
textarea
  font-family 'Montserrat', 'Arial', sans-serif

input
textarea
button
  appearance none
  -moz-appearance none
  -webkit-appearance none

input
  outline none

a
  text-decoration none
