@require "./_resources.styl"
@require 'app/_fonts.styl'

*
*:before
*:after
  box-sizing border-box
  margin 0
  padding 0

body
  user-select none

body
button
input
textarea
  font-family font-face-primary

input
textarea
button
  outline none
  appearance none
  -moz-appearance none
  -webkit-appearance none

input
  outline none

a
  text-decoration none

svg
  width 100%

.block
  display block
  width 100%
